

    <div class="container-fluid" *ngFor="let day of matches">
        <div class="row day-title default-primary-color">
            <h3 class="text-center text-uppercase font-weight-bold">
                {{ parseDate(day.day | date : "EEEE-dd-MM-yyyy") }}
            </h3>
        </div>

        <div class="card-block  d-none d-md-block desktop">
            <div class="row" *ngFor="let match of day.matches">
                <div class="col-md-2 text-center font-weight-bold secondary-text-color">
                    {{ match.time}}
                </div>
                <div class="col-md-2 text-right font-weight-bold text-dark-primary-color">
                    <h3 class="font-weight-bold">{{ match.team1 }}</h3>
                </div>
                <div class="col-md-1 text-center">
                    vs
                </div>
                <div class="col-md-2 font-weight-bold text-dark-primary-color">
                    <h3 class="font-weight-bold">{{ match.team2 }}</h3>
                </div>
                <div class="col-md-2 font-italic">
                    {{ match.competition }}
                </div>
                <div class="col-md-3">
                    <i class="material-icons">play_circle_filled</i>
                    <h5 class="font-weight-bold">{{ match.channel }}</h5>
                </div>
            </div>
        </div>

        <div class="card-block d-block d-md-none mobile">
            <div class="row" *ngFor="let match of day.matches">
                <div class="col-7 row-top">
                    <i class="material-icons">play_circle_filled</i>
                    <h5 class="font-weight-bold">{{ match.channel}}</h5>
                </div>
                <div class="col-5 text-right row-top font-italic">
                    <h5>{{ match.competition }}</h5>
                </div>


                <div class="col-5 row-bottom text-dark-primary-color">
                    <h3 class="font-weight-bold">{{ match.team1 }}</h3>
                </div>
                <div class="col-2 separator-vs font-weight-bold secondary-text-color">
                    {{ match.time}}
                </div>
                <div class="col-5 text-right row-bottom font-weight-bold text-dark-primary-color">
                    <h3 class="font-weight-bold">{{ match.team2 }}</h3>
                </div>
            </div>
        </div>

    </div>




