.dark-primary-color {
    background: #1976D2;
}

.green-color-bg {
    background: #8BC34A;
}

.text-dark-primary-color {
    color: #1976D2;
}

.default-primary-color {
    background: #2196F3;
}

.light-primary-color {
    background: #BBDEFB;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #FFC107;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #757575;
}

.divider-color {
    border-color: #BDBDBD;
}

.day-title {
    padding: 15px 0px 10px;
}

.card-block .row {
    padding: 10px;
}

.card-block .row:nth-child(even) {
    background: #ebf2ff;
}

.card-block .row:nth-child(odd) {
    background: #FFFFFF;
}

.day-title {
    color: white;
}

.day-title h3 {
    width: 100%;
    font-size: 1.4em;
}

.row-top {
    padding: 10px 0px 15px;
}

.mobile h5, .mobile h3, .desktop h5, .desktop h3 {
    font-size: 15px !important;
}

.separator-vs {
    padding: 0px 10px;
}

.row-top .material-icons {
    color: #8BC34A;
    float: left;
    margin-right: 5px;
    margin-left: 15px;
    margin-top: -5px;
}

.desktop .material-icons {
    color: #8BC34A;
    float: left;
    margin-right: 5px;
    margin-left: 15px;
    margin-top: -3px;
}

.my-2 {
    padding: 1px 10px;
}

.my-2 .material-icons {
    margin-top: 4px;
}