.dark-primary-color {
    background: #1976D2;
}

.green-color-bg {
    background: #8BC34A;
}

.text-dark-primary-color {
    color: #1976D2;
}

.default-primary-color {
    background: #2196F3;
}

.light-primary-color {
    background: #BBDEFB;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #FFC107;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #757575;
}

.divider-color {
    border-color: #BDBDBD;
}

body, html {
    height : 100%;
}

.navbar {
    height: 80px;
    color: white;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: white;
}

.subtitle {
    padding-bottom: 1px;
    padding-top: 3px;
}

.subtitle h2 {
    width: 100%;
    font-size: 15px;
    padding-top: 4px;
    font-weight: bold;
}

.container-fluid {
    /*margin-bottom: 15px;*/
}

.footer {
    background: whitesmoke;
    padding: 30px 0px;
    border-top: solid 8px #BDBDBD;
}

.info {
    padding: 20px 0px;
    background: white;

}
